@import './bootstrap-overrides.scss';
@import '~bootstrap/scss/bootstrap.scss';

@import '~font-awesome/css/font-awesome.css';
@import '~react-select/scss/default.scss';
@import '~react-bootstrap-sweetalert/lib/css/animations.css';
@import '~react-table/react-table.css';

input:invalid,
textarea:invalid {
  box-shadow: none;
}

#projectSearchResults {
  max-height: 600px;
  overflow-y: auto;
}

.center {
  margin: auto;
  width: 50%;
}

.centerLess {
  margin: auto;
  width: 55%;
}

.li-magic {
  color: #088f95;
  font-size: 20px;
}

.labelName {
  font-size: 0.9em;
  font-style: italic;
}

.polyline {
  opacity: 0.4;
  stroke: black;
  stroke-width: 1px;
  fill: none;
}

.labelName tspan {
  font-style: normal;
  font-weight: 700;
}

.largeText {
  font-weight: 500;
  font-size: 70px;
}

@import './site.scss';
