@import './bootstrap-overrides.scss';
@import '~bootstrap/scss/bootstrap.scss';

@import '~font-awesome/css/font-awesome.css';
@import '~react-select/scss/default.scss';
@import '~react-bootstrap-sweetalert/lib/css/animations.css';
@import '~react-table/react-table.css';

body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

input:invalid,
textarea:invalid {
  box-shadow: none;
}

#projectSearchResults {
  max-height: 600px;
  overflow-y: auto;
}

.center {
  margin: auto;
  width: 50%;
}
